 <div class=" col-10 m-5 shadow-lg p-5 bg-body rounded">
 <table class="table table-light table-furniture">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Тип</th>
        <th scope="col">Цена</th>
      </tr>
    </thead>
    <tbody class="table-hover">

      {{#each furniture}}
      <tr id={{this.id}}>
        <td scope="row">{{this.id}}</td>
        <td>{{this.type}}</td>
        <td>{{this.price}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
 </div>
