
<form method="POST" action="/edit" class="col-6 m-auto">
  <div class="mb-3">
    <label for="orderNumber" class="form-label">Номер заказа</label>
    <input name="orderNumber" type="text " class="form-control" id="orderNumber">
    <div id="userNameHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="furniture" class="form-label">Тип мебели</label>
    <input name="furniture" type="text " class="form-control" id="furniture">
    <div id="userLastNameHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="delivery" class="form-label">Дата доставки</label>
    <input name="delivery" type="text " class="form-control" id="delivery">
    <div id="userLastNameHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="builddate" class="form-label">Дата сборки</label>
    <input name="builddate" type="text " class="form-control" id="builddate">
    <div id="userLastNameHelp" class="form-text"></div>
  </div>
  <br>
    <select name="deliveryteam" class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option >Выберите бригаду доставки</option>
      <option value="1">Бригада 1</option>
      <option value="2">Бригада 2</option>
      <option value="3">Бригада 3</option>
    </select>
    <label for="floatingSelect"></label>
  </div>
      </div> 
    <select name="buildteam" class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option >Выберите бригаду сборки</option>
      <option value="1">Бригада 1</option>
      <option value="2">Бригада 2</option>
      <option value="3">Бригада 3</option>
    </select>
    <label for="floatingSelect"></label>
  </div>
      <div class="mb-3">
    <label for="clientPhone" class="form-label">Введите номер телефона клиента</label>
    <input name="clientPhone" type="text " class="form-control" id="clientPhone">
    <div id="helpclientPhone" class="form-text"></div>
  </div>
    <div class="form-floating">
  <textarea name="comment" class="form-control" placeholder="Leave a comment here" id="comment"></textarea>
  <label for="comment">Комментарии клиента</label>
  <br>
</div>
    <div class="mb-3">
    <label for="author" class="form-label">Введите Ваше имя</label>
    <input name="author" type="text " class="form-control" id="author">
    <div id="helpauthor" class="form-text"></div>
  </div>
  <button type="submit" class="btn btn-primary">Создать заявку</button>
</form>
