<form class="col-4 m-auto mt-5" action="/login" method="POST">
  <h2 class="text-center">Вход</h2>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Электронная почта</label>
    <input name="email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Введите Вашу электронную почту</div>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Пароль</label>
    <input name="password" type="password" class="form-control" id="inputPassword">
    <div id="passwordHelp" class="form-text">Введите Ваш пароль</div>
  </div>
  <div class="mb-3 form-check d-flex justify-content-between">
    <div>
      <input name="rememberPassword" type="checkbox" class="form-check-input" id="remember-password">
      <label class="form-check-label" for="remember-password">Запомнить пароль</label>
    </div>
    <div>
      <a class="ml-2" href="#">Забыли пароль?</a>
    </div>
  </div>
  <div class="d-grid gap-2 m-auto">
    <button type="submit" class="btn btn-primary">Вход</button>
  </div>
</form>
