<h3 class="text-center">Создать заказ</h2>
<form method="POST" action="/orders/new" class="col-6 m-auto">
  <div class="form-floating mb-3">
    <input name="orderNumber" type="text " class="form-control" id="orderNumber">
    <label for="orderNumber" class="form-label">Номер заказа</label>
    <div id="userNameHelp" class="form-text"></div>
  </div>
  <div class="form-floating mb-3">
    <input name="furniture" type="text " class="form-control" id="furniture">
    <label for="furniture" class="form-label">Тип мебели</label>
    <div id="userLastNameHelp" class="form-text"></div>
  </div>
  <div class="form-floating mb-3">
    <input name="delivery" type="text" class="form-control" id="delivery">
    <label for="delivery" class="form-label">Дата доставки</label>
    <div id="userLastNameHelp" class="form-text"></div>
  </div>
  <div class="form-floating mb-3">
    <input name="builddate" type="text" class="form-control" id="builddate">
    <label for="builddate" class="form-label">Дата сборки</label>
    <div id="userLastNameHelp" class="form-text"></div>
  </div>
  <div class="form-floating mb-3">
    <select name="deliveryteam" class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option >Выберите бригаду доставки</option>
      <option value="1">Бригада 1</option>
      <option value="2">Бригада 2</option>
      <option value="3">Бригада 3</option>
    </select>
    <label for="floatingSelect"></label>
  </div>
  <div class="form-floating mb-3">
    <select name="buildteam" class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option >Выберите бригаду сборки</option>
      <option value="1">Бригада 1</option>
      <option value="2">Бригада 2</option>
      <option value="3">Бригада 3</option>
    </select>
    <label for="floatingSelect"></label>
  </div>
  <div class="form-floating mb-3">
    <input name="clientPhone" type="text " class="form-control" id="clientPhone">
    <label for="clientPhone" class="form-label">Введите номер телефона клиента</label>
    <div id="helpclientPhone" class="form-text"></div>
  </div>
  <div class="form-floating mb-3">
    <textarea name="comment" class="form-control" placeholder="Leave a comment here" id="comment"></textarea>
    <label for="comment">Комментарии клиента</label>
  </div>
  <div class="form-floating mb-3">
    <input name="author" type="text " class="form-control" id="author">
    <label for="author" class="form-label">Введите Ваше имя</label>
    <div id="helpauthor" class="form-text"></div>
  </div>

  <button type="submit" class="btn btn-primary">Создать заявку</button>
</form>
