<div class="d-flex justify-content-center">
  <a href="/users/regusers" type="button" class="btn btn-primary mb-3">Зарегистрировать сотрудника</a>
</div>
<div class="d-flex justify-content-center">
  <a href="/users/allusers" type="button" class="btn btn-primary mb-3">Список сотрудников</a>
</div>
<div class="d-flex justify-content-center">
  <a href="/users/groupdel" type="button" class="btn btn-primary mb-3">Бригады доставки</a>
</div>
<div class="d-flex justify-content-center">
  <a href="/users/groupass" type="button" class="btn btn-primary mb-3">Бригады сборки</a>
</div>
