<div class="list-group col-4 m-5 mt-0 p-2 m-auto shadow-lg bg-body rounded">
  <div class="d-flex justify-content-center p-2">
    <a href="/users/regusers" type="button" class="fw-bold text-light list-group-item list-group-item-action btn btn-primary">Зарегистрировать сотрудника</a>
  </div>
  <div class="d-flex justify-content-center p-2">
    <a href="/users/allusers" type="button" class="fw-bold text-light list-group-item list-group-item-action btn btn-primary">Список сотрудников</a>
  </div>
  <div class="d-flex justify-content-center p-2">
    <a href="/users/groupdel" type="button" class="fw-bold text-light list-group-item list-group-item-action btn btn-primary">Бригады доставки</a>
  </div>
  <div class="d-flex justify-content-center p-2">
    <a href="/users/groupass" type="button" class="fw-bold text-light list-group-item list-group-item-action btn btn-primary">Бригады сборки</a>
  </div>
</div>
